/* Global */
* {
  box-sizing: border-box;
}
body {
  /* Fonts: Rubik: 400, 500, 700, */
  font-family: 'Rubik', "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color:#4A4B4C;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Container */
.container {
  width: 100%;
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0px auto;
}
/* Header section */
.top-header {
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 276px;
  background-color: #000
}
.left-side {
  display: flex;
}
.right-side {
  display: flex;
  align-items: center;
}
.right-side div:not(:last-child) {
  margin-right: 25px;
}
.logo {
  background-color: #fff;
  margin-right: 32px;
  border-radius: 10px;
  text-align: center;
  padding: 8px 6px;
  width: 276px;
  display: flex;
  align-items: center
}
.currency-wrapper {
  display: flex;
  align-items: center;
}
.currrency:first-child {
  margin-right: 25px;
}
.currency-sign {
  color: #2959CE;
}
.header-botton a {
  color: #fff;
  text-decoration: none;
  background-color:#7296EC;
  padding: 13px 20px;
  border-radius: 10px;
}
.searchbox input {
  padding-top: 10px;
  padding-bottom: 10px;
}
.searchbox input[type=text] {
  float: right;
  /* padding-top: 15px;
  padding-bottom: 15px; */
  font-size: 17px;
  border-radius: 60px;
  background-color: #fff;
  border: none;
}
.lanbotton {
  display: inline-flex;
  background-color: #DCE6FF;
  border-radius: 39px;
  padding: 3px 13px 3px 3px;
  font-size: 13px;
  align-items: center;
}
.languz {
  background-color: #fff;
  border-radius: 50%;
  padding: 7px;
  margin-right: 8px;
  color: #000
}
.langru {
  color: #A6A6A6;
}
/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.nav-item {
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #7F7F7F;
}
.hr-line {
  margin-bottom: 40px;
  width: 1200px;
}

.advertisement img {
  width: 100%;
}

/* Hotnews section */
.newslist {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.newsbox {
  width: 390px;
  background: #F6F6F6;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.textbox {
  margin-bottom: 15px;
  flex-grow: 1;
}
.newsheading {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000;
}
.newsimg {
  width: 100%;
  margin-bottom: 15px;
}
.news-type {
  display: flex;
  align-items: center

}
.news-type p {
  font-size: 12px;
  color: #5E5F61;
  margin-left: 10px;
}
/* Notification */
.notification {
  background-image: url("/img/notification.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1050px;
  height: 100px;
  margin: 60px auto;
  padding: 24px 71px 24px 29px;
}
.noti-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000;
}
#notification-btn {
  padding: 13px 30px;
  background-color: #F78B3B;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}